* {
  box-sizing: border-box;
}

body {
  background-color: #171717;
  color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

textarea {
  width: 100%;
  max-width: 400px;
  height: 200px;
  font-size: 1em;
  padding: 0.25rem;
}

.error {
  padding: 0.5rem 0;
  color: #ff3841;
}
